body {
  font-family: 'Open Sans', sans-serif !important;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.preview_galery{
  display: none;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;  
}
.logo-brand {
  position: relative;
  top:-100px;
}
.logo-brand img {
  width: 10rem;
  height:auto;
}
.brand {
  font-weight: 500;
  font-size: 1.7rem;
}
.brand a:hover {
  color: #f37833 !important;
}
.navbar-wrapper {
  position: absolute;
  top: 51px;
  height: 5rem;
  right: 0;
  left: 0;
  z-index: 20;
}
.rounded-nav {
    border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}
.not-full li a:hover {
  color: #f37833;
  background-color: transparent; !important;
}
.slider img {
    object-fit:cover;
  -o-object-fit:cover;
}
.search-form input{
  border: none;
  box-shadow: none;
  width: 15rem !important;
}
.full-image {
  width: 100%;
  object-fit: cover;
}
.weather img {
  height: 10rem;
}
.weather {
  max-height: 16rem
}
.news a:hover, .leader a:hover {
  color: #f37833;
  text-decoration: none;
}
.news a {
  color: #039447;
  font-weight: 500;
}
.news img {
  height: 30rem;
  width: 100%;

}
.news-height {
    height: 18rem;
  width: 100%;
  overflow: hidden;
}
.content-news {
  height: 12rem;
  overflow: hidden;
}
.text-content p {
  font-size: 16px;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  color: #424242;
}
.sub-title {
  font-size: 1.7rem;
  font-weight: 500;
  color: #424242;
}
.in-rps {
  width: 0;
  height: 0;
  overflow: hidden;
}
.in-rps form {
  border: none;
  box-shadow: none;
}
.sosmed a{
  color: #fff!important;
}
.sosmed a:hover{
  color: #f37833 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent !important;
}
.contentx {
    margin-top: 8rem!important;
}
.video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* Если видео 16/9, то 9/16*100 = 56.25%. Также и с 4/3 - 3/4*100 = 75% */
}
.video video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.no-button {
  border:none;
  box-shadow: none;
  background-color: transparent;
}
.language-home img {
    max-height: 2rem;
}
.language img {
  max-height: 3rem;
}
.admin-image img {
  max-height: 8rem;
}
.thumbnails-prod img{
  height: 23rem;
    width: 100%;
}
.overlay {
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background: rgba(0, 39, 3, 0.55);
}
.overlay .caption {
    position: absolute;
    bottom: 0;
}
.ellipses {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}
.ellipses2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;    
}
.fa-icon{
  font-size: 3rem !important;
}
.notif {
    position: absolute !important;
    right: 4px !important;
    background-color: red;
    font-size: 12px !important;
    padding: 2px;
    visibility: hidden;
}
#read {
  visibility: hidden;
}
#uread {
  visibility: visible;
}


/*==========Color======*/
.bg-green {
  background-color: #039447;
}
.green,.green a{
  color: #039447 !important;
}
.bg-gray, .unread {
  background-color: #eee;
}
.bg-semi-white, .read {
  background-color: #fcfcfc;
}
.bg-orange {
  background-color: #f37833;
}
.bg-soft-orange {
  background-color: #f5a259;
}
.bg-yellow {
  background-color: #f37833;
}
.bg-red {
  background-color: #f37833;
}
.orange {
  color: #f37833 !important;
}
.bg-readmore:hover {
  background-color: #f37833 !important;

}
/*==========End-Color======*/

.font-light {
  font-weight: 300;
}






/*============Responsive===============*/
@media (min-width: 992px) {

.slider,.carousel-inner {
  height: 45rem;
}
.carousel .item {
  height: 500px;
}

.carousel-caption {
  margin-bottom: 5rem;
  z-index: 10;
  font-size: 4rem;
}
.carousel-inner > .item > img {
  position: absolute;
  height: 45rem;
  width: 100%;
}
.header-img {
  position: relative;
  max-height: 15rem;
  overflow: hidden;
}

}
@media (max-width: 991px) {
.slider,.carousel-inner {
  height: 28rem;
}
.carousel .item {
  height: 490px;
}
.carousel-caption {
  margin-bottom: 14rem;
  z-index: 10;
  font-size: 3rem;
}
.carousel-inner > .item > img {
  position: absolute;
  height: 35rem;
  width: 100%;
}
.search-form input{
  border: none;
  box-shadow: none;
  width: 13rem !important;
}
.brand {
  font-weight: 500;
  font-size: 1.5rem;
}
.header-img {
  position: relative;
  max-height: 13rem;
  overflow: hidden;
}
.text-content p {
  font-size: 14px !important;
}  
}


@media (min-width: 768px) {
  .not-full {
  -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
  max-width: 83.333333%;
  margin-bottom: 0 !important;
  }
  .not-full-2 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
  margin-bottom: 0 !important;
  }
  .ellipses {
-webkit-line-clamp: 5;
}
#temperature, .x {
  font-size: 6rem;
}
}

@media (max-width: 767px) {
  .header-top {
    display: none;
  }
  .rounded-nav {
    border-radius: 0 !important;
  }
  .logo-brand {
    display: none;
  }
  .navbar-wrapper {
      top: 0 !important;
      position: relative;
  }
  .in-rps {
  width: auto;
  height: auto;
  overflow: hidden;
  }
  .search-form input{
    width: 100% !important;
  }
  .contents {
    padding: 0.5rem;
  }
  .weather img {
  height: 6rem;
  }
  .weather {
  height: 11rem
  }
  .out-rps {
    width: 0;
    height: 0;
    display: none;
    overflow: hidden;
  }
  .contentx {
    margin-top: -2rem !important;
    padding: 1rem;
  }
  #temperature, .x {
  font-size: 4rem;
    }
}

@media (max-width: 480px) {
.slider,.carousel-inner {
  height: 20rem;
}
.carousel .item {
  height: 410px;
}
.carousel-caption {
  margin-bottom: 14rem;
  z-index: 10;
  font-size: 2.3rem;
}
.carousel-inner > .item > img {
  position: absolute;
  height: 27rem;
  width: 100%;
}
.header-img {
  position: relative;
  max-height: 9rem;
  overflow: hidden;
}
.news img {
    height: 21rem;
    width: 100%;
}
.ellipses {
-webkit-line-clamp: 3;
}  
}
@media (max-width: 360px) {
.slider,.carousel-inner {
  height: 17rem;
}
.news-height {
    height: 13rem;
  width: 100%;
  overflow: hidden;
}
.content-news {
  height: 8rem;
  overflow: hidden;
}
.title {
  font-size: 1.7rem;

}
.text-read-more {
  font-size: 1.2rem;
  
}
.footer, .copyright {
  text-align: center !important;
}

}


.gal-item{
  overflow: hidden;
  padding: 3px;
}
.gal-item .box{
  height: 30rem;
  overflow: hidden;
}
.box img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}
.box .modal-body img {
  height: auto !important; 

}
.gal-item a:focus{
  outline: none;
}
.gal-item a:after{
  content:"\e003";
  font-family: 'Glyphicons Halflings';
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
  opacity: 1;
}
.modal-open .modal{
  background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
  padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
  outline: none;
}
.modal-open .gal-item button.close span{
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow:none;
}
.modal-dialogue{
  width: 80%;
}
.description{
  position: relative;
  height: 40px;
  top: -40px;
  padding: 10px 25px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: left;
}
.description h4{
  margin:0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}